<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scratchappfeature">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.scratchappfeature">
        <activity
            android:name=".EditRecipeActivity"
            android:exported="false"
            android:label="Edit Recipe"
            android:theme="@style/Theme.scratchappfeature.NoActionBar" />
        <activity
            android:name=".RecipePageActivity"
            android:exported="true"
            android:label="Recipe Name"
            android:parentActivityName=".ScratchNotesActivity"
            android:theme="@style/Theme.scratchappfeature.NoActionBar" />
        <activity
            android:name=".CreateRecipeActivity"
            android:exported="true"
            android:label="Create Recipe"
            android:parentActivityName=".ScratchNotesActivity"
            android:theme="@style/Theme.scratchappfeature.NoActionBar" />
        <activity
            android:name=".ScratchNotesActivity"
            android:exported="true"
            android:label="Scratch Notes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.scratchappfeature.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName=".Login"
            android:theme="@style/Theme.scratchappfeature.NoActionBar"></activity>
        <activity
            android:name=".Register"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.scratchappfeature.NoActionBar"></activity>
        <activity
            android:name=".CustomizeRecipeFeature"
            android:exported="true"
            android:label="My Scratch!"
            android:parentActivityName=".CreateRecipeActivity"
            android:theme="@style/Theme.scratchappfeature.NoActionBar"></activity>
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.scratchappfeature.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>